.button-box {
  margin: 0 auto 2.5rem;
  width: 120rem;
  display: flex;
  gap: 20px;
  justify-content: right;
}
.btn {
  padding: 1rem 2rem;
  background: #9935ff;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  color: #fff;

  &:hover {
    background: gray;
    color: #fff;
  }
}
@media (max-width: 1247.5px) {
  .button-box {
    width: 100%;
  }
}
@media (max-width: 767.5px) {
  .button-box {
    width: 90%;
    z-index: 2;
    position: fixed;
    bottom: 25px;
    right: 25px;
    left: 25px;
  }

  .btn {
    width: 100%;
  }
}
