.button-box {
  display: flex;
  gap: 20px;
  position: absolute;
  top: 200px;
  right: 25rem;
}

.btn {
  padding: 1rem 2rem;
  background: #fff;
  border: none;
  border-radius: 2rem;
  cursor: pointer;

  &:hover {
    background: gray;
    color: #fff;
  }
}
