.main-wrapper {
  padding: 1.1rem 0rem;
  width: 120rem;
  margin: 0 auto;

  @media (max-width: 1247.5px) {
    width: 100%;
  }

  @media (max-width: 576px) {
    display: none;
  }
}

.header-logo-box {
  padding: 0.6rem 0rem;
  display: flex;
  gap: 0.8rem;
  align-items: center;
  cursor: pointer;

  @media (max-width: 1247.5px) {
    margin-left: 2.4rem;
  }
}

.header-logo-box p {
  color: #4a494f;
  font-family: Poppins;
  font-size: 1.9971rem;
  font-weight: 700;
}

.header-logo-box img {
  width: 2.7818rem;
  height: 2.7658rem;
}
